* {
    box-sizing: border-box;
}

body {
    background-color: #fff3d8;
    max-width: 800px;
    margin: auto;
    background-image: linear-gradient(180deg, rgba(202, 255, 247, 0.684) 0%, rgba(255, 255, 255, 0.732) 50%, rgba(207, 255, 201, 0.732) 100%)
}

.container {
    display: flex;
    flex-direction: column;
}

footer {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 0.7rem;
}

footer > img {
    height: 1rem;
}

.images-constiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    text-align: center;
    width: 256px;
}

.image-container > img {
    transition: .3s;
    filter: grayscale(100%) blur(3px);
}

.image-container > img:hover {
    transition: .3s;
    filter: grayscale(0%);
}